@import"./var";
@import "./fonts";

@import "./mixins";

@import"./normalize";
.wrapper{
    max-width: 1010px;
    margin: 0 auto;
    padding: 0 15px;
    &_posrel{
        position: relative;
        z-index:1;
    }
}
 //общий стиль форм
@import "./form";

//стили страниц
@import "./header/header";

@import"./header/hero";

@import"./services/services-total";

@import"./services/service-part";

@import"./pricing/tarif-plans";

.about-us{
    @include flex(space-between, center);
    text-align: center;
    padding: 145px 100px;
    &__testimonial{
        width: 50%;
        & h3{
            font-size: 50px;
            color: $secondColor;
        }
    }    
    &__gallery{
        width: 50%;
        & h3{
            font-size: 50px;
            color: $firstColor;
        }
    }   

}
.review{
    @include flex ();
    padding-top: 65px;
    &__text{
        font-size: 20px;
        text-align: start;
        
        &_wr{ 
            font-family: PTSerif;
            padding-bottom: 20px;
        }
        &_author{
            font-family: MontserratRegular;
        }
    }
    &__foto img{
        width: 150px;
        height: 150px;
        border-radius: 100px;
    }
}