.gallery{
    padding-left: 140px;
    padding-top: 55px;
    @include flex(space-between, center);
    flex-wrap: wrap;
        @media(max-width:900px){
            padding-left: 0;
        }
        @media(max-width:780px){
            padding-top: 0;
            padding-left: 120px;
            padding-right: 120px;
        }
        @media(max-width:720px){
            padding-left: 100px;
            padding-right: 100px;
        }
        @media(max-width: 680px){
        padding-left: 90px;
        padding-right: 90px;
        }
        @media(max-width: 655px){
            padding-left: 55px;
            padding-right: 55px;
        }
        @media(max-width:500px){
            padding-left: 40px;
            padding-right: 40px;
        }
        @media (max-width:325px){
            padding-left: 15px;
            padding-right: 15px;
        }
    &__pict{
        width: calc(100% / 3);
        height:calc(100% / 3);
        border-radius: 50%;
        @media(max-width:900px){
            width: 100px;
            height: 100px;
        }
                                   
   }
        
    &__link{
        @include flex(center, center);
        padding-top: 35px;
        padding-left: 120px;
        color: $secondColor;
        @media(max-width:900px){
            padding-left: 0;
        }
        
    }

}
