.btn{
        $btnWidth:240px;
        $btnHeight:50px;
        $btnPadding:0 20px;
        $fontSize:20px;

        
        font-family: MontserratRegular;
        color: $mainColor;
        text-transform: uppercase;
        
        font-size: $fontSize;
        width: $btnWidth;
        height: $btnHeight;
        padding: $btnPadding;
        background: $firstColor;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        text-align: center;
        transition: all 0.2s linear;
        margin: 30px 0;
        letter-spacing: 0.05em;
    &_story{
            @media(max-width:745px){
                &:last-child{
                    margin: 0;
                }
            }
             
            
            @media(max-width:500px){
                &:last-child{
                    margin-left: 100px;
                }
            }
            @media(max-width:480px){
                    &:last-child{
                        margin-left: 80px;
                    }
            }
            @media(max-width:440px){
                &:last-child{
                    margin-left: 60px;
                }
            }
            @media(max-width:410px){
                &:last-child{
                    $btnWidth:150px;
                    $btnHeight:40px;
                    $btnPadding:0 15px;
                    $fontSize:16px;
                
                    font-size: $fontSize;
                    width: $btnWidth;
                    height: $btnHeight;
                    padding: $btnPadding;
                    margin-left:80px;
                   
                }
            }
           
            @media(max-width:350px){
                &:last-child{
                margin-left:70px;
                }   
            }  


        }
        &_submit{
            $btnWidth:350px;
            $fontSize:20px;
            @media(max-width: 700px){
                $btnWidth:250px;
                $fontSize:16px;
            }

            width:$btnWidth;
            font-size: $fontSize;
        }
        &_blue{
            $btnWidth:200px;
            $fontSize:22px;
            background: $secondColor;
                @media(max-width: 900px){
                $btnWidth:160px;
                }
                @media(max-width: 600px){
                    $btnWidth:110px;
                    $fontSize:14px;
                }
                @media (max-width:420px){
                    margin: 10px 0;
                    $btnWidth:100px;
                }
                @media (max-width:380px){
                    $btnWidth:80px;
                }
                
           
            width:$btnWidth;
            font-size: $fontSize;
    
         
        }
            
        &_red{
            $btnWidth:200px;
            $fontSize:22px;
            background: $firstColor;
                @media(max-width: 900px){
                        $btnWidth:160px;
                    }
                @media(max-width: 600px){
                        $btnWidth:110px;
                        $fontSize:14px;
                    }
                @media (max-width:420px){
                        margin: 10px 0;
                        $btnWidth:100px;
                    }
                    @media (max-width:380px){
                        $btnWidth:80px;
                    }

                width:$btnWidth;
                font-size: $fontSize;
                
        }
       
}