.our-story{
    width: 100%;
    @include flex(space-between, center);
    color: $mainColor;
    background: $secondColor;
    padding: 20px 100px;
    @media(max-width:500px){
        display: block;
    }
    &_text{
        width: 80%;
        font-size: 20px;
            @media(max-width:500px){
                width: auto;
                font-size: 14px;
            }
    }
}

@media (max-width: 900px) {
    .our-story {
    padding: 20px 20px;
    }
}
@media (max-width: 700px) {
    .our-story {
        &_text{
            font-size: 16px;
        }
    }
}
@media (max-width: 900px) {
    .our-story {
    padding: 15px 15px;
    }
}