.our-story{
    width: 100%;
    @include flex(space-between, center);
    color: $mainColor;
    background: $secondColor;
    padding: 20px 100px;
    &_text{
        width: 80%;
        font-size: 20px;
    }
}

@media (max-width: 900px) {
    .our-story {
    padding: 20px 20px;
    }
}
@media (max-width: 700px) {
    .our-story {
        &_text{
            font-size: 16px;
        }
    }
}