.review{
    @include flex ();
    padding-top: 65px;
    padding-left: 15px;
    padding-bottom: 15px;
    &__text{
        font-size: 20px;
        text-align: start;
        
        &_wr{ 
            font-family: PTSerif;
            padding-bottom: 20px;
        }
        &_author{
            font-family: MontserratRegular;
        }
    
    }
    &:last-child{
        padding-top: 15px;
        background: $mainColorDark;
        &__text{
           
            &_wr{
                color: $firstColor;
            }
        }
    }
    &__foto img{
        width: 100px;
        height: 100px;
        border-radius: 100px;
    }
}